.contacs__content {
  position: relative;
  padding-top: 46px;

  &::before {
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    background-image: url("../img/png/zigzag-line.png");
    background-repeat: repeat;
    top: 0;
    left: 0;
  }

  @media (min-width:$vp-760) {
    &::before {
      background-image: url("../img/png/zigzag-fill-decktop--1.png");
      background-repeat: repeat;
      height: 23px;
    }
  }

  @media (min-width:$vp-1050) {
    display: grid;
    grid-template-columns: auto 55.5%;
    grid-template-rows: auto auto auto auto;
    padding: 0 50px;
    padding-top: 46px;
    padding-left: 190px;
    margin: 0 auto;
    max-width: 1350px;
  }
}

.contacs__title {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 28px;
  position: relative;

  @media (min-width:$vp-760) {
    padding-bottom: 49px;

    &::after {
      content: '';
      position: absolute;
      width: 47px;
      height: 81px;
      right: 30px;
      background-image: url("../img/svg/flag.svg");
    }

    @media (min-width:$vp-1050) {
      padding-top: 25px;

      &::after {
        top: 0;
        left: -100px;
      }
    }
  }

  @media (min-width:$vp-1050) {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-right: 0;
    padding-left: 0;

  }
}

.contacs__adress {
  @media (min-width:$vp-1050) {
    grid-column-start: 1;
    grid-row-start: 3;

  }
}

.contacs__map {
  @media (min-width:$vp-1050) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;

  }
}

.contacts__wrapper {
  padding: 0 30px;

  @media (min-width:$vp-1050) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    padding: 0;
    max-width: 230px;
  }
}

.contacs__button {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 42px;
}
