.table {
  border-collapse: collapse;
}

.table__row {
  td {
    font-size: 15px;
    font-weight: 400;
    color: $color-444;
    line-height: 20px;
    padding-bottom: 28px;
    border-bottom: 1px solid $color-ECECEC;
  }
}
