body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-transition {
  /* stylelint-disable-next-line */
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.is-active {
  display: block;
}

.title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: $color-default-black;
  margin: 0;

  @media (min-width:$vp-760) {
    font-size: 43px;
    font-weight: 700;
    line-height: 50px;
  }
}

.button {
  border: 2px solid #444;
  padding: 14px 0;
  background-color: $color-default-white;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
